rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 只有登入的使用者（包含匿名帳號）才能讀寫自己的資料
    match /artifacts/{appId}/users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
